<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	<div class="col-sm-6">
    	    <p>
                After 13 years as an IT and 2 years working for Geek Squad, I decided to take my experience to the next level. In 2017 I started my
                AAT 2 year degree in Computer Programming and Web Development. I graduated in 6 quarters, 2 quarters early. I have spent the time 
		earning my associates learning Unity on my own as a hobby. Since graduating I have moved on to Western Governers University where 
		I am persuing my Bachelors in Software Development.I plan to graduate by the end of 2021. I absolutely love technology, which 
		drives me to partake in projects that some consider cutting edge, like machine learning and self-driving cars.
            </p>
            <p>
                I love to learn.
                While some find learning a new task or concept a chore, I see it as a personal challenge that I truly enjoy. I have been learning 
                about computers and technology since I was 13, where I worked for a computer repair shop fixing desktops and diagnosing their issues.
                While that was the beginning my love never faded, since then I have run private servers and even modded video games through self-teaching
       	        and trial and error. Currently I am assisting on a modding project for Kingdoms and Castles.
            </p>
          </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
				For almost two years worked as a lead software engineer on an indy game still in development. Navigating both the interpersonal and 
				technical aspects of leading a project. Spear headed several iterations of the character custimization as well as ambient creature 
				mechanics, and day to day bug fixes.
    			</li>
          		<li>
            			(Finished)Debugged and reviewed code for 9-Tap, which is a team based Bowling Tournament application for 
				windows. As Team Development consultant I frequently assisted people in problem solving and critical thinking. 
			</li>
			<li>
            			(On Going) My cap stone project for my Associates was <a href="https://github.com/KodaRayTominus/OpenSourceTees">Open Source Tees</a>. I designed this ecommerce site to host creators and the like to 
				sell their designs in an efficient manor, using graphic technology to displlay new creations without having to waste the material of making them physicially.
			</li>
          		<li>
            			(Project Hiatus) Designed, coded, and released a code first object oriented <a href="https://github.com/KodaRayTominus/MiniaturesForSale">ASP.NET MVC</a> web application. An e-commerce site
				for Miniatures. Implemented Unit testing to save dividends on production, including Moq.
			</li>
          		
			<li>
            			Designed and Coded an object-oriented trading game called <a href="https://www.doyouhaveit.ga/">"Do you have it?"</a> using Phaser3 and wamp64 for 
				development in one quarter. Designed and layered custom map and environment using Blender and Tiled. Integrated open source
				sprites sheets for npcs.
			</li>
	    </div>
    </div>
  </div>
</section>
