<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	<div class="col-sm-6">
    	    <p>
                After 13 years as an IT and 2 years working for Geek Squad, I decided to take my experience to the next level. In 2017 I started my
                AAT 2 year degree in Computer Programming and Web Development. I am on track to graduate in 6 quarters, 2 quarters early. I have also 
	        been learning Unity on my own as a hobby. I absolutely love technology, which drives me to partake in projects that some consider 
	        cutting edge, like machine learning and self-driving cars.
            </p>
            <p>
                I love to learn.
                While some find learning a new task or concept a chore, I see it as a personal challenge that I truly enjoy. I have been learning 
                about computers and technology since I was 13, where I worked for a computer repair shop fixing desktops and diagnosing their issues.
                While that was the beginning my love never faded, since then I have run private servers and even modded video games through self-teaching
       	        and trial and error. 
            </p>
          </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            			Designed and Coded an object oriented "Yatzy" online game from the ground up. Integrated an open source 
				dice roll, by converting it into a reusable method and storing it in a custom Javascript HTML element class.
    			</li>
          		<li>
            			Designed and Coded an object oriented trading game called "Do you have it?" using Phaser3 and wamp64 for 
				development. Designed and layered custom map and envionment using Blender and Tiled. Integrated open source
				sprites sheets for npcs.
			</li>
          		<li>
            			(On Going) Designed, coded, and released a code first object oriented ASP.NET MVC web application. An ecommerce site
				for Miniatures. Implimented Unit testing to save dividends on production, including Moq.
			</li>
          		<li>
            			(On Going) Setting up, testing and teaching selfdriving cars. Using Python and command line to import and export data
				to and from the cars. Implimenting several methods of training. Designing tests for new scenarios
			</li>
          		<li>
            			(On Going)Debugged and reviewed code for 9 Tap, which is a team based Bowling Tournament application for 
				windows.  
			</li>
	    </div>
    </div>
  </div>
</section>
