<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				  <b>Computers and Games</b>. Since I have been working with gaming computers since I was 13 it was only logical that I learned to make them. While taking extra classes throughout my degree I  learned Unity and Phaser3 on my own. 
			  </li>
			  <li>
				  <b>Martial Arts</b>. When I was a kid my friend invited me to a Karate class, I wanted to keep going so I got a job at the local computer shop at 13 and paid for my classes myself. Since then I have only continued with my knowledge of martial arts, expanding to Taekwondo, Bushido, Muay Thai, Jiu-Jitsu and Capoeira.
      			  </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
				<a href="https://github.com/DaDevFox/KCMods">Elevation Mod(Kingdom and Castles)</a> (On Going) - Developing HPA* Path-Finding for a mod that takes a flat plane based game and adds elevation.
    			</li>
  			<li>
				<a href="https://age-of-aincrad.com/#/">Age of Aincrad</a> (on Going) - Took over as lead software engineer for almost 2 years, designing backend and front end assets in and out of Unity.  			
			</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
				Father of a beautiful 2 beautiful boys, one 5 the other is almost 2.
  			</li>
  			<li>
				Animal lover, 4 out of 6 pets are rescues. 3 cats, 3 dogs.
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
