<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Autonomous Vehicles</b>. With the future looking bright for self-driving cars, I'm currently working on self-driving racecars at this time with fellow classmates. My goal for the project is to get them to handle complex situations, like bridges and road crossings.
				  
			  </li>
			  <li>
				  <b>Computers and Games</b>. Since I have been working with gaming computers since I was 13 it was only logical that I learned to make them. While taking extra classes throughout my degree I have been learning Unity and Phaser3 on my own. 
			  </li>
			  <li>
				  <b>Martial Arts</b>. When I was a kid my friend invited me to a Karate class, I wanted to keep going so I got a job at the local computer shop at 13 and paid for my classes myself. Since then I have only continued with my knowledge of martial arts, expanding to Taekwondo, Bushido, Muay Thai, Jiu-Jitsu and Capoeira.
      			  </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
				<a href="https://github.com/CPTC-CPW/DonkeyCar">Donkey cars</a> (On Going) - setting up, constructing, testing, and teaching 8 donkey cars. Goal - teach them to handle complex situations.
    			</li>
  			<li>
				<a href="http://www.9taptour.com/">9-Tap</a> (on Going) - taking over a project, refactoring, reviewing  and debugging previous engineers code.  			
			</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
				Father of a beautiful 2-year-old boy.
  			</li>
  			<li>
				Animal lover, 3 out of 5 pets are rescues.
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
